{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FWA - первое веб-приложение</title>
    <base href="/">
    <link href="{% static ',resources/favicon.ico' %}" rel="Shortcut Icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'res/app.css' %}">
    <script>
        window.config={
            appName: 'FWA - первое веб-приложение',
            locale: 'ru',
            locales: {
              'ru': 'Русский',
              'en': 'English',
            },
        }
    </script>
</head>
<body>
    <div id="app"></div>
    <script src="{% static '/js/app.js' %}"></script>
</body>
</html>
